In [ ]:
# This is the Pandas code used to pull EoD Historical Data specific to 15 Major Market Indices around the world.
# The data is filtered to the 'close' column and Nulls are dropped.
# The time period of the data collected is 10 years.

In [ ]:
# Importing libraries, including the EoD Historical Data library.
import os
import pandas as pd
import requests
import datetime
import calendar
from eod import EodHistoricalData
from dotenv import load_dotenv

# Creating a variable that holds the API key
load_dotenv()
api_key = os.getenv("EOD_API_KEY")
client = EodHistoricalData(api_key)

In [ ]:
# Time Series request to eodhistoricaldata.com
# Specific to Dow Jones Industrial Average
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Renamed close column to DJIA, to aid with concatenation of dataframes later on.
# Data cleaning: Removed NULLs

ticker = "DJIA.US"
start_date = "2013-01-01" 
end_date = "2023-04-12"

djia_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
djia_data = pd.DataFrame(djia_response)
djia_data = djia_data.set_index('date')
djia_data = djia_data[['close']]
djia_data = djia_data.rename(columns={"close":"DJIA"})
djia_data = djia_data.dropna()
djia_data.tail()

In [ ]:
# Time Series request to eodhistoricaldata.com
#  Specific S&P 500 INDEX FUND S&P 500 INDEX FUND-MEMBER SHARES
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Renamed close column to DJIA, to aid with aggregation of data later on.
# Data cleaning: Removed NULLs

ticker = "USSPX.US"
start_date = "2013-01-01" 
end_date = "2023-04-12"

gspc_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
gspc_data = pd.DataFrame(gspc_response)
gspc_data = gspc_data.set_index('date')
gspc_data = gspc_data[['close']]
gspc_data = gspc_data.rename(columns={"close":"GSPC"})
gspc_data = gspc_data.dropna()
gspc_data.tail()

In [ ]:
# Time Series request to eodhistoricaldata.com
# Specific to Sao Paulo Bovespa Index in Brazil. This Index existed until Dec 17, 2021.
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Data cleaning: Removed NULLs
ticker = "IBOV.SA"
start_date = "2013-01-01" 
end_date = "2023-04-12"

ibov_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
ibov_data = pd.DataFrame(ibov_response)
ibov_data = ibov_data.set_index('date')
ibov_data = ibov_data[['close']]
ibov_data = ibov_data.rename(columns={"close":"IBOV"})
ibov_data = ibov_data.dropna()
ibov_data.tail()

In [ ]:
# Time Series request to eodhistoricaldata.com
# Specific to OBX Index in Norway
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Data cleaning: Removed NULLs

ticker = "OBX.OL"
start_date = "2013-01-01" 
end_date = "2023-04-12"

obx_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
obx_data = pd.DataFrame(obx_response)
obx_data = obx_data.set_index('date')
obx_data = obx_data[['close']]
obx_data = obx_data.rename(columns={"close":"OBX"})
obx_data = obx_data.dropna()
obx_data.tail()

In [ ]:
# Time Series request to eodhistoricaldata.com
# Specific to NIFTY MIDCAP 50 index on the India Stock Exchange NSE
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Data cleaning: Removed NULLs

ticker = "NIFTYMID50.NSE"
start_date = "2013-01-01" 
end_date = "2023-04-12"

nifty_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
nifty_data = pd.DataFrame(nifty_response)
nifty_data = nifty_data.set_index('date')
nifty_data = nifty_data[['close']]
nifty_data = nifty_data.rename(columns={"close":"NIFTYMID50"})
nifty_data = nifty_data.dropna()
nifty_data.tail()

In [ ]:
# Time Series request to eodhistoricaldata.com
# Specific to RTS Industry Index on the Russia Stock Exchange MCX 
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Data cleaning: Removed NULLs

ticker = "RTSIN.MCX"
start_date = "2013-01-01" 
end_date = "2023-04-12"

rtsin_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
rtsin_data = pd.DataFrame(rtsin_response)
rtsin_data = rtsin_data.set_index('date')
rtsin_data = rtsin_data[['close']]
rtsin_data = rtsin_data.rename(columns={"close":"RTSIN"})
rtsin_data = rtsin_data.dropna()
rtsin_data.tail()

In [ ]:
# Time Series request to eodhistoricaldata.com
# Specific to OBX Index in Norway
# 10 year period. Limited output to a single column named 'close' which is the daily close for that index.
# Data cleaning: Removed NULLs

ticker = "OBX.OL"
start_date = "2013-01-01" 
end_date = "2023-04-12"

obx_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
obx_data = pd.DataFrame(obx_response)
obx_data = obx_data.set_index('date')
obx_data = obx_data[['close']]
obx_data = obx_data.rename(columns={"close":"OBX"})
obx_data = obx_data.dropna()
obx_data.tail()

In [25]:
# Concatenate all Dataframes, using an inner join.
all_indices = pd.concat([djia_data, gspc_data, ibov_data, obx_data, nifty_data, rtsin_data], axis="rows", join="outer")
all_indices.head()

             DJIA  GSPC  IBOV  OBX  NIFTYMID50  RTSIN
date
2023-01-03  21.60   NaN   NaN  NaN         NaN    NaN
2023-01-04  21.67   NaN   NaN  NaN         NaN    NaN
2023-01-05  21.57   NaN   NaN  NaN         NaN    NaN
2023-01-06  21.82   NaN   NaN  NaN         NaN    NaN
2023-01-09  21.84   NaN   NaN  NaN         NaN    NaN